BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE

WEBAPP_URL=https://jahram-svg.github.io/quizbee/

DEV_MODE=false

PORT=5000

FIREBASE_PROJECT_ID=PUT_FIREBASE_PROJECT_ID_HERE

FIREBASE_CLIENT_EMAIL=PUT_FIREBASE_CLIENT_EMAIL_HERE

FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPUT_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
